.box{
    margin: 20px;
    width: 20rem;
    
}
.home{
    width: 100%;
    height: 620px;
    padding: 0px 10px;
}
.card_text{
    text-decoration: none;
}
.card_image{
    width: 100%;
    height: 280px;
}
.card_image_2{
    width: 100%;
    height: 280px;
    display: none;
}
.multi-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
    overflow: hidden;
    text-overflow: ellipsis;
}
.box:hover{
    border: groove rgba(119, 37, 9, 0.3) 2px;
}
.box:hover .card_image{
    display:none;
}
.box:hover .card_image_2{
    display:block;
}